/*Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules*/
/*Order: Position, Size, Shape, Color, Function*/

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #313338;
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	width: 1000px;
	padding: 5px;
	background-color: #dbdee1;
}

h1 {
	margin: 5px;
	font-size: 30px;
	font-family: "Anton", sans-serif;
}

table {
	border-spacing: 5px;
}

caption {
	font-size: 25px;
	font-family: "Anton", sans-serif;
}

th {
	text-align: left;
	font-weight: 700;
}

td {
	font-family: "Oxygen Mono", monospace;
}

th, td {
	padding: 5px;
	border: 1px solid;
}

div {
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

p {
	margin-left: 5px;
}

.logo {
	margin-right: 5px;
	padding: 0px 5px;
	color: #dbdee1;
	background-color: #313338;
	font-size: 30px;
	font-family: "Anton", sans-serif;
}

.info {
	display: flex;
	font-weight: 700;
}

.blue tr {
	background-color: #aaccff;
}
.red tr {
	background-color: #ffaaaa;
}

.vertical {
	width: 0%;
	text-align: center;
	writing-mode: vertical-lr;
}

.vertical::after {
	margin-top: 5px;
	font-family: "Oxygen Mono", monospace;
	font-weight: 400;
}

#top::after {
	content: "4";
}

#bottom::after {
	content: "1";
}